html {
    min-width: 100vw !important;
    min-height: 100vh !important;
    font-family: 'Poppins';
}
body {
    min-height: 100vh !important;
    width: 100% !important;
    margin: 0px;
}
#app {
    min-height: 100vh !important;
    width: 100%;
}
.bg-sombre {
    color: white;
    background-color: #343434;
}
.bg-clair {
    color: black;
    background-color: white;
}

.fw-900 {
    font-weight: 900;
}

.bouton {
    text-decoration: none;
    font-weight: 900;
    padding: 10px 30px;
    border: none;
    border-radius: 22px;
}
.bouton-clair {
    color: #000000;
    background-color: #d9d9d9;
}
.bouton-clair:hover {
    background-color: #adadad;
}